body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ebf4ff;
}

#root {
  width: 100%;
}

#root button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1e3041;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s;
  outline: none;
}
#root button:hover {
  background-color: #45627d;
}
#root button:focus-visible {
  box-shadow: inset 0 0 0 2px #45627d, inset 0 0 0 4px #6589ab;
}

#root input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  border: 1px solid #1e3041;
  border-radius: 4px;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  transition: all 0.25s;
}
#root input[type="checkbox"]:checked {
  background-color: #1e3041;
}

#root .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  color: #1e3041;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root .main-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 2rem;
  text-shadow: 0 -1px 1px #415c71;
}

#root .new-recipe-form {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

#root .recipe-title-input {
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  color: #1e3041;
}

#root .recipe-create-button {
  outline: none;
  border: none;
  font-size: 1.5rem;
  background-color: #1e3041;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

#root .recipe-create-button:hover {
  background-color: #415c71;
}

#root .recipe-book {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 400px;
  max-width: 800px;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

#root .recipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}

#root .recipe:not(:last-child) {
  border-bottom: 1px solid #ececec;
}

#root .recipe-title {
  font-size: 1.5rem;
  font-weight: 500;
}

#root .recipe-actions {
  display: flex;
  gap: 0.5rem;
}

#root .recipe-edit-button {
  outline: none;
  border-color: #1e3041;
  background-color: transparent;
  color: #1e3041;
  transition: all 0.2s ease-in-out;
}
#root .recipe-edit-button:hover {
  border-color: #45627d;
  background-color: transparent;
  color: #45627d;
}

#root .recipe-delete-button {
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

#root .recipe-edit-form {
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  min-width: 400px;
  max-width: 800px;
  width: 100%;
}

#root .recipe-edit-title-input {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  color: #1e3041;
  width: 100%;
  box-sizing: border-box;
}

#root .recipe-edit-description-input {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  color: #1e3041;
  width: 100%;
  box-sizing: border-box;
}

#root .recipe-ingredients-title {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  padding: 1rem;
}

#root .recipe-ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
  margin: 0;
}

#root .recipe-ingredient, .recipe-new-ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ececec;
}

#root .recipe-ingredient-input, .recipe-new-ingredient-input {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem;
  color: #1e3041;
}

#root .recipe-new-ingredient {
  align-items: stretch;
  padding: 0;
}

#root .recipe-new-ingredient-input {
  padding: 1rem;
}

#root .recipe-edit-save-button, .recipe-edit-cart-button {
  flex: 1;
}

#root .recipe-ingredient-delete-button {
  opacity: 0;
  outline: none;
  border-color: #1e3041;
  background-color: transparent;
  color: #1e3041;
  transition: all 0.2s ease-in-out;
  padding: 0.3rem 0.5rem;
}
#root .recipe-ingredient-delete-button:hover {
  border-color: #45627d;
  background-color: transparent;
  color: #45627d;
}
#root .recipe-ingredient:hover .recipe-ingredient-delete-button {
  opacity: 1;
}

#root .recipe-edit-actions {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

#root .shopping-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 400px;
  max-width: 800px;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

#root .shopping-list-title {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  padding: 1rem;
}

#root .shopping-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  cursor: pointer;
}

#root .shopping-list-actions {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}